.card{
    margin-top: 100px;
    width: 1000px;
    height: 620px;
    padding: 40px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-image: url(https://th.bing.com/th/id/OIP.h3z57mm74MJ1qZLh91HUtQHaE8?pid=ImgDet&rs=1);

}

.card h1{
    color: white;
}
.h6{
    color: white;
}

label{
    color: white;
}
